*{
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(./image/background1.jpg);
    background-size: cover;
    font-family: sans-serif;
    text-align: center;
    margin-top: 100px;
    height: 100vh;
    width: 100vw;
}
.container{
    display: flex; 
    text-align: center;
}
.score{
    display: flex;
    padding-top: 20px;
}

.paper{
    margin-right: 80px;
}
.rock{
    margin-left: 80px;
}
.image-top{
    margin-bottom: 20px;
}
.results{
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
#score1{
    color: white;
    margin-left:170px ;
}
#score{
    margin-right: 20px;
    color: white;
}
b{
    color: white;
}
 
#result{
    margin-top: 20px;
    color: white;
}
.image{
    gap: 10px;
}
#paper{
    margin-right: 10px;
}
#scissor{
    margin-right: 10px;
}
